TEXTFILE_DIR={{ homelab_metrics_textfile_dir }}
ADVERTISED_ROUTE={{ tailscale_advertised_routes | first }}
MAGICDNS_NAME={{ tailscale_hostname }}.{{ tailscale_magicdns_suffix }}
SONARR_HOST={{ homelab_metrics_sonarr_host }}
SONARR_PROFILE={{ homelab_metrics_sonarr_profile }}
SONARR_API_KEY={{ homelab_metrics_sonarr_api_key }}
